<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Express serves the static files from the public folder directly, so the CSS needs to be referenced like this -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">

    <title>Sera's CRUDdy shop</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <li class="shop-item">
            <img src="<%= item.image %>" alt="<%= item.name %>" class="item-image">
            <div class="item-info">
                <a href="/item/<%= item._id %>">
                    <h3>
                        <%= item.name %>
                    </h3>
                </a>
                <p>Price: $<%= item.price %>
                </p>
                <p>Quantity: <%= item.quantity %>
                </p>
                <!-- Add to Cart Button -->
                <form action="/add-to-cart/<%= item._id %>" method="POST">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="5" required>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </li>
</body>

</html>